:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.form-control {
  border: 1px solid #808080;
  padding-left: 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: 16px;
  color: #808080;
}

.form-control:hover {
  border: 1px solid #000;
}

input[type='text']:focus {
  outline: 1px solid #4e75ff;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  position: relative;
  left: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  visibility: hidden;
}

.bottom {
  position: sticky;
  top: 100%;
  left: 53%;
  visibility: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 156px;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  list-style: none;
  list-style-type: none;
}

.gallery-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img {
  display: block;
  width: 360px;
  height: 200px;
}

.gallery-text-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #808080;
  width: 360px;
  height: 48px;
  background: #fff;
}

.gallery-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load {
  border-radius: 8px;
  border: transparent;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  margin-top: 32px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  position: relative;
  left: 50%;
  visibility: hidden;
}
